---
import CtaBtn from "./CtaBtn.astro";

const LinkText = encodeURI('Hola, quisiera conocer más de sus servicios')
const WhatsAppNumber = `https://wa.me/573174048898?text=${LinkText}`

---
<section class="scroll-reveal-section flex justify-center min-h-screen w-full bg-white font-[montserrat]">
    <main class="container flex flex-col w-full justify-center items-center pb-10">
        <h3 class="font-bold text-center text-lg md:text-xl text-main-orange mb-5">¿Por qué elegirnos?</h3>
        <h2 class="w-60 text-center font-bold text-3xl md:text-4xl mb-20">Nuestros diferenciales</h2>
        <div class="features-cards flex flex-col md:flex-row justify-center md:justify-around items-center md:items-center md:flex-wrap w-full md:w-full h-auto gap-y-10 md:gap-y-15 md:gap-x-0 mb-20 md:mb-40">
            <div class="card flex flex-row justify-around items-center w-full md:w-[50%] md:max-w-125 h-auto min-h-35">
                <div class="flex justify-center items-center w-20 h-20 bg-light-orange rounded-full text-4xl font-bold text-main-orange">1</div>
                <div class="card-text flex flex-col items-center md:items-baseline w-[65%] h-auto">
                    <h2 class="font-bold text-2xl text-center md:text-left mb-2 w-full">Enfoque local</h2>
                    <p class="text-center md:text-left">Entendemos el mercado colombiano y las necesidades de emprendedores.</p>
                </div>
            </div>
            <div class="card flex flex-row justify-around items-center w-full md:w-[50%] md:max-w-125 h-auto min-h-35">
                <div class="flex justify-center items-center w-20 h-20 bg-light-green rounded-full text-4xl font-bold text-main-green">2</div>
                <div class="card-text flex flex-col items-center md:items-baseline w-[65%] h-auto">
                    <h2 class="font-bold text-2xl mb-2 w-full text-center md:text-left">Precios accesibles</h2>
                    <p class="text-center md:text-left">Paquetes diseñados para PyMEs que buscan seguir creciendo</p>
                </div>
            </div>
            <div class="card flex flex-row justify-around items-center w-full md:w-[50%] md:max-w-125 h-auto min-h-35">
                <div class="flex justify-center items-center w-20 h-20 bg-light-borgona rounded-full text-4xl font-bold text-main-borgona">3</div>
                <div class="card-text flex flex-col items-center md:items-baseline w-[65%] h-auto">
                    <h2 class="font-bold text-2xl text-center md:text-left mb-2 w-full">Acompañamiento continuo</h2>
                    <p class="text-center md:text-left">Te acompañamos en cada paso del crecimiento de tu marca.</p>
                </div>
            </div>
            <div class="card flex flex-row justify-around items-center w-full md:w-[50%] md:max-w-125 h-auto min-h-35">
                <div class="flex justify-center items-center w-20 h-20 bg-light-orange rounded-full text-4xl font-bold text-main-orange">4</div>
                <div class="card-text flex flex-col items-center md:items-baseline w-[65%] h-auto">
                    <h2 class="font-bold text-2xl text-center md:text-left w-full mb-2">Proceso colaborativo</h2>
                    <p class="text-center md:text-left">Tu visión guía nuestro trabajo. Creamos juntos algo auténtico.</p>
                </div>
            </div>
        </div>
        <div class="w-[60%] md:w-[20%] h-12 md:h-15">
            <CtaBtn text="Agenda tu cita" link={WhatsAppNumber} variant="primary"/>
        </div>
    </main>
</section>