---
---
<div class="flex flex-col justify-center items-center w-[90%] md:w-[50%] md:max-w-150 h-auto bg-[#ffffff] my-5 p-5 rounded-xl ">
    <form id="lead-form" class="flex flex-col items-center w-[90%] gap-y-5 font-[montserrat]">
      <div class="flex flex-row w-full justify-around bg-light-orange p-2 rounded-xl">
        <label class="w-auto min-w-20 text-white font-semibold">
        Nombre
        </label>
        <input type="text" name="name" class="bg-white w-[80%] h-6 rounded-xl pl-3 text-gray-500 focus:outline-main-orange" required />
      </div>
      <div class="flex flex-row w-full justify-around bg-light-orange p-2 rounded-xl">
        <label class="w-auto min-w-20 text-white font-semibold">
        Correo
        </label>
        <input type="email" name="email" class="bg-white w-[80%] h-6 rounded-xl pl-3 text-gray-500 focus:outline-main-orange" required />
      </div>
      <button type="submit" class="flex justify-center items-center w-[30%] h-auto p-1 mx-4 rounded-full shadow-md font-[montserrat] bg-linear-to-br from-main-green to-light-green text-white hover:shadow-xl transform transition-all duration-300 font-medium text-md cursor-pointer">Enviar</button>

    <p id="form-message" class="text-main-orange"></p>
    </form>
</div>
<script>
  const form = document.getElementById("lead-form") as HTMLFormElement;
  const message = document.getElementById("form-message");

  if (form && message) {
    form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);
    const data = {
      name: formData.get("name"),
      email: formData.get("email"),
    };

    message.textContent = "Enviando...";

    try {
      const res = await fetch("/api/leads", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      const result = await res.json();

      if (!res.ok) {
        throw new Error(result.error || "Error al enviar");
      }

      message.textContent = "¡Gracias! Hemos enviado tu solicitud.";
      form.reset();
    } catch (err) {
      message.textContent = "Opps!! Hubo un error. Intenta de nuevo.";
    }
  });
}
</script>
