---
---

<section class="scroll-reveal-section flex flex-col justify-around items-center min-h-screen w-full bg-white" id="process-section">
    <h2 class="w-[50%] text-center font-[montserrat] font-bold text-4xl mt-20">Nuestro proceso de trabajo</h2>
    <div class="grid grid-cols-4 grid-rows-2 w-full h-200 p-5">
        <div class="w-full h-full col-start-1 row-start-1">
            <img src="images/recio_redes.png" alt="Recio redes" class="w-50 h-50 self-center justify-self-center mb-5"/>
            <p class="self-end justify-self-center text-center text-xl font-bold font-[montserrat]">Investigación</p>       
        </div>
        <div class="w-full col-start-2 row-start-2">
            <img src="images/recio_redes.png" alt="Recio redes" class="w-50 h-50 self-center justify-self-center mb-5"/>
            <p class="self-end justify-self-center text-center text-xl font-bold font-[montserrat]">Dirección creativa</p>
        </div>
        <div class="w-full col-start-3 row-start-1">
            <img src="images/recio_redes.png" alt="Recio redes" class="w-50 h-50 self-center justify-self-center mb-5"/>
            <p class="self-end justify-self-center text-center text-xl font-bold font-[montserrat]">Evaluación conjunta</p>
        </div>
        <div class="w-full col-start-4 row-start-2">
            <img src="images/recio_redes.png" alt="Recio redes" class="w-50 h-50 self-center justify-self-center mb-5"/>
            <p class="self-end justify-self-center text-center text-xl font-bold font-[montserrat]">Paso 4</p>
        </div>
    </div>
</section>