---
---
<section class="projects flex flex-col w-full h-auto bg-linear-to-b from-slate-50 to-white font-[montserrat] mb-20">
    <div class="title flex flex-col justify-center items-center w-full h-auto mt-20">
        <h3 class="font-bold text-center text-lg md:text-xl text-main-orange mb-5">Conoce lo que hacemos</h3>
        <h2 class="w-90 text-center font-bold text-3xl md:text-4xl mb-20">Nuestros ultimos proyectos</h2>
    </div>
    <div class="images-container grid grid-cols-1 md:grid-cols-3 grid-rows-(repeat(9, auto)) md:grid-row-(repeat(4, auto)) ml-5 mr-5 gap-y-5 md:gap-x-5 mb-20" style="@media (min-width: 768px) {
        grid-template-rows: repeat(4, minmax(auto, 10vh))
    }">
        <div class="rounded-lg overflow-hidden">
            <img src="../images/pendon_karen.jpg" alt="Pendón Karen Jeréz" class="w-full h-auto max-h-inherit object-cover bg-white rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/libreta_karen.jpg" alt="Libreta Karen Jeréz" class="w-full h-full max-h-inherit object-cover rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/empaque_negro_elina.png" alt="Empaque Café Elina" class="w-full h-full max-h-inherit object-cover rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/mural_elina.png" alt="Mural Café ELina" class="w-full h-auto max-h-inherit object-cover rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110" />
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/isologo_elina.jpg" alt="Isologo Elina" class="w-full h-auto max-h-inherit object-cover rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110" />
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/tarjeta_jessica.png" alt="Tarjeta Jessica" class="w-full h-auto max-h-inherit object-cover rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/jessica_crema.jpg" alt="Crema Jessica" class="w-full h-auto max-h-inherit object-cover rounded-lg shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/logo_paola.png" alt="Logo Paola" class="w-full h-full max-h-inherit object-cover shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="../images/libreta_paola.jpg" alt="Libreta Paola" class="w-full h-auto max-h-inherit object-cover shadow-lg transition ease-linear duration-150 scale-100 hover:scale-110"/>
        </div>
    </div>
</section>